body{
    font: 20px Arial, sans-serif;
}

.flex-container{
    display: flex;
    /*Direcao dos itens: */
    flex-direction: column;
    height: 150px;
    border: 2px solid black;
    max-width: 310px;
    
}
.item{
    font-size: 24px;
    height: 50%;
    text-align: center;
    line-height: 50px;
    /*tamanho minimo do Item:*/
    min-width: 100px;
}
.nowrap{
    flex-wrap: nowrap;
}

/*Quaebra os items, não deixando vazar pra fora do container:*/
.with-wrap{
    flex-wrap: wrap;
}
.with-wrap-reverse{
    flex-wrap: wrap-reverse;
}

.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.gray{
    background-color: grey;
}


/*JUSTIFY CONTENT*/

.justify-container{
 
    max-width: 400px;
    display: flex;
    margin: 0;
    border: 2px solid black;
    
}
.item-justify{

    background-color: blueviolet;
    margin: 5px;
    text-align: center;
    color: white;    
}
.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}
.flex-space-between{
    justify-content: space-between;
}

.flex-space-around{
    justify-content: space-around;
}
.column{
    flex-direction: column;
    min-height: 200px;
}

.container-align{
    max-width: 350px;
    border: 1px solid black;
    display: flex;
    
}
.item-align{
    background-color: blue;
    margin: 5px;
    color: white;
    text-align: center;
    flex: 1;
}

.flex{
    flex: 1;
}

.align-itens-center{
    align-items: center;
}
.align-itens-stretch{
    align-items: stretch;
}
.align-itens-flex-start{
    align-items: flex-start;
}
.align-itens-flex-end{
    align-items: flex-end;
}
.align-itens-baseline{
    align-items: baseline;
}

.central{
    height: 300px;
    justify-content: center;
}
.remove_flex{
    flex: 0;
    padding: 20px;
}

