body{
    font: 20px Arial, sans-serif;
}

.flex-container{
    display: flex;
    /*Direcao dos itens: */
    flex-direction: column;
    height: 150px;
    border: 2px solid black;
    max-width: 310px;
    
}
.item{
    font-size: 24px;
    height: 50%;
    text-align: center;
    line-height: 50px;
    /*tamanho minimo do Item:*/
    min-width: 100px;
}
.nowrap{
    flex-wrap: nowrap;
}

/*Quaebra os items, não deixando vazar pra fora do container:*/
.with-wrap{
    flex-wrap: wrap;
}
.with-wrap-reverse{
    flex-wrap: wrap-reverse;
}

.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.gray{
    background-color: grey;
}


/*JUSTIFY CONTENT*/

.justify-container{
 
    max-width: 400px;
    display: flex;
    margin: 0;
    border: 2px solid black;
    
}
.item-justify{

    background-color: blueviolet;
    margin: 5px;
    text-align: center;
    color: white;    
}
.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}
.flex-space-between{
    justify-content: space-between;
}

.flex-space-around{
    justify-content: space-around;
}
.column{
    flex-direction: column;
    min-height: 200px;
}

.container-align{
    max-width: 350px;
    border: 1px solid black;
    display: flex;
    
}
.item-align{
    background-color: blue;
    margin: 5px;
    color: white;
    text-align: center;
    flex: 1;
}

.flex{
    flex: 1;
}

.align-itens-center{
    align-items: center;
}
.align-itens-stretch{
    align-items: stretch;
}
.align-itens-flex-start{
    align-items: flex-start;
}
.align-itens-flex-end{
    align-items: flex-end;
}
.align-itens-baseline{
    align-items: baseline;
}

.central{
    height: 300px;
    justify-content: center;
}
.remove_flex{
    flex: 0;
    padding: 20px;
}

/*ALIGN CONTENTS*/
.container-align-content{
    height: 400px;
    max-width: 300px;
    /*
    Deixa conten no centro da pagina:
    margin: 0 auto;
    */
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.item-align-content{
    background-color: orange;
    padding: 0 5px;
    flex: 1;
    text-align: center;
    color: white;
    margin: 5px;
}

.content-stretch{
    align-content: stretch;
}
.content-center{
    align-content: center;
}
.content-flex-start{
    align-content: flex-start;
}

.content-flex-end{
    align-content: flex-end;
}

.content-space-around{
    align-content: space-around;
}
.content-space-between{
    align-content: space-between;
}

/*FLEX GROW*/
.container-flex-grow{
    display: flex;
    border: 2px solid black;
    max-width: 300px;
    justify-content: center;
}
.item-flex-grow{
    background-color: aqua;
    margin: 5px;
    padding: 10px;
    text-align: center;
    color: white;
}
.fg-0{
    flex-grow: 0;
}
.fg-1{
    flex-grow: 1;
}
.fg-2{
    flex-grow: 2;
}
.fg-3{
    flex-grow: 3;
}

/*FLEX BASIS*/

.container-flex-basis{
    display: flex;
    border: 2px solid black;
    max-width: 500px;
    }
.item-flex-basis{
    background-color: coral;
    margin: 5px;
    text-align: center;
    color: white;
}
.b-auto{
    flex-basis: auto;
}
.b-0{
    flex-basis: 0;
}
.basis_100{
    flex-basis: 100px;
}

/*FLEX SHRINK*/
.flex-container-shrink{
    display: flex;
    border: 1px solid black;
    max-width: 350px;
    margin-bottom: 10px;

}
.item-shrink{
    background-color: orangered;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}
.s-1{
    flex-shrink: 1;
}
.s-0{
    flex-shrink: 0;
    flex-basis: 100px;
}

.s-2{
    flex-shrink: 2;
    flex-basis: 100px;
}
.s-3{
    flex-shrink: 3;
    flex-basis: 100px;
}

/*FLEX*/
.flex-container-2{
    display: flex;
    border: 1px solid black;
    max-width: 400px;

}
.flex-item{

    background-color: chartreuse;
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.large{
    width: 200px;
}
/*ORDER*/
.order-container{
    display: flex;
    max-width: 350px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.order-item{
    flex: 1;
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 5px;
    order: 0;
}
.o1{
    order: 1;
}
.o2{
    order: 2;
}
.o3{
    order: 3;
}

/*ALIGN SELF*/
.self-container{
    display: flex;
    max-width: 350px;
    border: 1px solid;
    margin-bottom: 10px;
}
.self-item{
    background-color: yellowgreen;
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 5px;
    
}
.self-center{
    align-self: center;
}
.self-start{
    align-self: flex-start;
}
.self-end{
    align-self: flex-end;
}
.self-baseline{
    align-self: baseline;
}
.self-stretch{
    align-self: stretch;
}
.self-auto{
    align-self: auto;
}







